@import "@fontsource-variable/inter";
@import "@fontsource-variable/dm-sans";

:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background: linear-gradient(#FFB88C, #DE6262);
}